body, button, input, select, textarea {
  font-family: "NotoSans", "NotoSansUI", "PingFang SC", "HiraginoSansGB-W3", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  color: #333;
  background-color: #f0f0f0;
  font-size: 0.925rem;
}

a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
a:hover {
  color: #1FA67A;
}

p {
  line-height: 1.8rem;
  word-wrap: break-word;
}

blockquote {
  padding-left: 10px;
  margin: 10px 0;
  border-left: 3px solid #eee;
}

@media screen and (min-width: 992px) {
  .charles-border-right {
    border-right: 1px solid #dee2e6 !important;
  }
}

.charles-navbar {
  font-size: 0.874rem;
  min-height: 4rem;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .charles-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}

.navbar-nav .dropdown-menu {
  font-size: 0.874rem;
}
.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}
.navbar-nav .nav-item .nav-link {
  padding-top: 1.32rem;
  padding-bottom: 1.32rem;
}
.navbar-nav .nav-item .dropdown-menu .nav-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.carousel {
  margin-top: 0.05rem;
  margin-bottom: 0.25rem;
}
.carousel .carousel-caption {
  bottom: 1.5rem;
  z-index: 10;
}
.carousel .carousel-caption h3 {
  background: rgba(31, 166, 122, 0.7);
  font-weight: 400;
  font-size: 1.5rem;
  max-width: 40rem;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: #fff;
}
.carousel .carousel-caption .excerpt {
  background: rgba(59, 59, 59, 0.8);
  display: block;
  color: #ddd;
  max-width: 50rem;
  padding: 0.75rem 1.25rem;
  max-height: 9.75rem;
  overflow: hidden;
}
.carousel .carousel-item {
  height: 18rem;
  background-color: #777;
}
.carousel .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 18rem;
}

.page {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
  margin: 1.25rem 0;
}
.page h1 {
  padding-top: 2rem;
  font-size: 1.8rem;
  text-align: center;
}
.page h2 {
  font-size: 1.5rem;
}
.page h3 {
  font-size: 1.25rem;
}
.page h4, .page h5, .page h6 {
  font-size: 1rem;
}

.posts-collapse article {
  border-bottom: #dadada dashed 1px;
}
.posts-collapse .post-header .post-title {
  padding: 20px 0;
}
.posts-collapse .post-body {
  word-break: break-word;
  line-height: 2rem;
}
.posts-collapse .post {
  font-weight: normal;
  color: #6B6B6B;
  line-height: 2rem;
}
.posts-collapse .post .fa {
  font-size: 14px;
  margin-right: 3px;
  color: #1FA67A;
}
.posts-collapse .post .post-title a {
  color: #6B6B6B;
  text-decoration: none;
  font-size: 20px;
  color: #6B6B6B;
  letter-spacing: -1px;
  text-shadow: 0 1px 0 #fff;
  padding-top: 8px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.posts-collapse .post .post-meta {
  padding: 10px 0;
  font-size: 14px;
  overflow: hidden;
}
.posts-collapse .post .read-more {
  color: #1FA67A;
}

.post-article {
  position: relative;
  padding: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
}

.posts-expand h1, .posts-expand h2, .posts-expand h3, .posts-expand h4, .posts-expand h5, .posts-expand h6 {
  margin: 1.25rem 0;
}
.posts-expand h1 {
  padding-top: 2rem;
  font-size: 1.8rem;
  text-align: center;
}
.posts-expand .post-body {
  word-break: break-word;
  line-height: 2rem;
}
.posts-expand .post-body h1 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.3em;
  border-bottom: 1.5px solid #eaecef;
  text-align: left;
}
.posts-expand .post-body img {
  margin: 0;
  box-sizing: border-box;
  margin: auto;
  padding: 3px;
}
.posts-expand img.qrcode {
  max-width: 12rem;
}
.posts-expand h2 {
  font-size: 1.5rem;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}
.posts-expand h3 {
  font-size: 1.25rem;
}
.posts-expand h4, .posts-expand h5, .posts-expand h6 {
  font-size: 1rem;
}
.posts-expand a {
  color: #1FA67A;
}
.posts-expand img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border: 0;
  padding: 0.5rem 0;
}
.posts-expand .post-header {
  margin: 0.5rem 0 2.5rem 0;
  color: #6B6B6B;
  font-size: 0.875rem;
  text-align: center;
}
.posts-expand .post-header .fa {
  margin-right: 3px;
  color: #1FA67A;
}
.posts-expand .post-meta {
  padding: 1rem 0;
  font-size: 0.875rem;
}
.posts-expand .post-meta .fa {
  margin-right: 3px;
  color: #1FA67A;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}
.pagination .page-number, .pagination .extend, .pagination span {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #1FA67A;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.pagination .page-number:hover, .pagination .extend:hover, .pagination span:hover {
  z-index: 2;
  color: #13664b;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.pagination .page-number:focus, .pagination .extend:focus, .pagination span:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(31, 166, 122, 0.25);
}
.pagination .page-number:not(:disabled), .pagination .extend:not(:disabled), .pagination span:not(:disabled) {
  cursor: pointer;
}
.pagination .page-number.current, .pagination span.space {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
.pagination:first-child {
  margin-left: 0;
  border-left-radius: 0.25rem;
}
.pagination:last-child {
  border-right-radius: 0.25rem;
}

ul {
  padding-left: 18px;
  margin: 0;
}

.post .post-toc .post-toc-content .toc,
.post .post-toc .post-toc-content .toc-child {
  list-style: square;
}

.post-toc {
  list-style: square;
  position: absolute;
  top: 200px;
  left: -1000px;
  max-width: 12rem;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 2px #ccc;
  padding: 5px 10px;
  background-color: #fff;
  font-size: 0.875rem;
}
@media screen and (max-width: 992px) {
  .post-toc {
    display: none;
  }
}
.post-toc ol {
  padding-left: 18px;
  margin: 0;
  list-style-type: square;
}
.post-toc ol li {
  margin: 0.25rem 0;
}
.post-toc .post-toc-title {
  font-size: 1rem;
  font-weight: 700;
}
.post-toc .toc .active {
  color: #00cc00;
}

.category-page {
  padding: 1rem 3rem;
}
.category-page ul li {
  list-style: circle;
}
.category-page .category-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.category-page .category-list .category-list-item {
  margin: 0.5rem 1rem;
}
.category-page .category-list .category-list-count {
  color: #bbb;
}
.category-page .category-list .category-list-count:before {
  display: inline;
  content: " (";
}
.category-page .category-list .category-list-count:after {
  display: inline;
  content: ") ";
}
.category-page .category-list .category-list-child {
  padding-left: 1rem;
}

@media screen and (min-width: 768px) {
  .tag-page {
    padding: 1rem 3rem;
  }
}
.tag-page ul li {
  list-style: circle;
}
.tag-page .tag-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tag-page .tag-list .tag-list-item {
  margin: 0.5rem 1rem;
}
.tag-page .tag-list .tag-list-count {
  color: #bbb;
}
.tag-page .tag-list .tag-list-count:before {
  display: inline;
  content: " (";
}
.tag-page .tag-list .tag-list-count:after {
  display: inline;
  content: ") ";
}
.tag-page .tag-list .tag-list-child {
  padding-left: 1rem;
}

.archive-page {
  font-size: 0.9rem;
  padding: 2rem 3rem 4rem 3rem;
}
.archive-page .archive-title {
  margin-top: 3rem;
}
.archive-page a {
  color: #1FA67A;
}
.archive-page ul.list {
  list-style: none;
  padding-left: 0;
  padding-bottom: 1rem;
}
.archive-page ul.list li {
  line-height: 1.5;
  padding: 0.5rem 0;
}
.archive-page .archive-date {
  display: inline-block;
  width: 6rem;
  margin-right: 1rem;
  color: #7f8c8d;
}

.archive-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.9rem;
}
.archive-list .archive-list-item {
  margin: 0.5rem 0;
}
.archive-list .archive-list-item:before {
  display: inline;
  content: "\f073";
  color: rgba(0, 0, 0, 0.5);
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin-right: 1rem;
}
.archive-list a {
  color: #1FA67A;
}
.archive-list .archive-list-child {
  padding-left: 10px;
}

table {
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  font-size: 14px;
  table-layout: fixed;
  word-wrap: break-word;
}

table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table > tbody > tr:hover {
  background-color: #f5f5f5;
}

caption, th, td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
}

th, td {
  border-bottom: 3px solid #ddd;
  border-right: 1px solid #eee;
}

th {
  padding-bottom: 10px;
  font-weight: 700;
}

td {
  border-bottom-width: 1px;
}

.halign-center {
  text-align: center;
}

.post-nav {
  display: table;
  margin: 2rem 0 3rem 0;
  padding-top: 0.5rem;
  width: 100%;
  border-top: 1px solid #eee;
}

.post-nav-divider {
  display: table-cell;
  width: 10%;
}

.post-nav-item {
  display: table-cell;
  padding: 10px 0 0 0;
  width: 45%;
  vertical-align: top;
}
.post-nav-item a {
  position: relative;
  display: block;
  line-height: 25px;
  font-size: 14px;
  color: #1FA67A;
  border-bottom: none;
}
.post-nav-item a:hover {
  color: #13664b;
  border-bottom: none;
}
.post-nav-item a:active {
  top: 2px;
}
.post-nav-item .fa {
  position: absolute;
  top: 8px;
  left: 0;
  font-size: 12px;
}

.post-nav-next a {
  padding-left: 15px;
}

.post-nav-prev {
  text-align: right;
}
.post-nav-prev a {
  padding-right: 15px;
}
.post-nav-prev .fa {
  right: 0;
  left: auto;
}

.widget-author {
  font-size: 0.875rem;
  margin-top: 1.5rem;
}
.widget-author a:hover {
  text-decoration: none;
  color: #1FA67A;
}
.widget-author .widget-title {
  font-size: 1rem;
  font-weight: 700;
}
.widget-author .author {
  color: #6B6B6B;
  text-align: center;
}
.widget-author .author .author-name {
  margin-top: 0.5rem;
}
.widget-author .author p {
  margin-bottom: 0.5rem;
}
.widget-author .author img {
  display: block;
  margin: 0 auto;
  padding: 0.125rem;
  max-width: 8rem;
  height: auto;
}
.widget-author .state {
  text-align: center;
  margin: 0.8rem 0;
}
.widget-author .state .state-item {
  display: inline-block;
  padding: 0 0.5rem;
  border-left: 1px solid #dee2e6;
}
.widget-author .state .state-item:first-child {
  border-left: none;
}
.widget-author .state .state-item .state-item-count {
  display: block;
}
.widget-author .links-of-author .links-of-author-row {
  padding: 0.2rem;
}

.footer {
  font-size: 85%;
  text-align: center;
  background-color: #f7f7f7;
}

.go-top {
  position: fixed;
  right: 60px;
  bottom: 80px;
  display: none;
  padding: 0.5rem;
  background-color: #CCC;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: white;
}
.go-top :hover {
  color: #1FA67A;
  cursor: pointer;
}